*{
    margin: 0;
    padding: 0;
}

/* nav-bar */
.box{
    background-color: red;
    height: 100vh;
}

nav {
    border-bottom: 1px rgba(255, 255, 255, 0.493) solid;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
    color: white;
    padding: 1rem;
}

#a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-right: 15rem;
}

.btn{
    margin-left: 15rem;
    padding: 10px;
    border: none;
    border-radius: 3rem;
    background-color: white;
    color: red;
}

.btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
    border: 2px white solid;
}

/* h1 */
.h1{
    color: white;
    text-align: center;
    margin: 1rem 20rem 0rem 20rem;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* paragraph */
p{
    text-align: center;
    margin: 1rem 28rem 0rem 28rem;
    color: white;
}

/* second button */
.btn-1{
    margin-top: 1.5rem;
    margin-left: 38rem;
    padding: 10px;
    border: none;
    border-radius: 3rem;
    background-color: white;
}

/* list */
#lorem{
    margin: 0.5rem;
}

/* image */
img{
    display: block;
    margin: auto;
    width: 35rem;
}

/* second section */
.div{
    padding: 3rem;
}

/* h1 in the second section */
#h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

em{
    color: red;
}

/* paragraph in the second section */
#p{
    color: black;
    margin: 1.5rem 26rem 0rem 26rem;
}

/* other button's */
.th{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn-2{
    padding: 10px;
    border: 2px red solid;
    border-radius: 3rem;
    background-color: red;
    color: white;
}

.btn-3{
    padding: 10px;
    border: 2px red solid;
    border-radius: 3rem;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

.a{
    color: black;
}